:root {
    --deepclr: #FFB5C0;
    --lightclr: #FFD1DF;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 1.5rem;
    width: 1.5rem;
    background: #000;
    margin: 10px;
    border-radius: 50%;
    animation: circle infinite 1s;
}

@keyframes circle {
    from {
        background: var(--lightclr);
    }
    to  {
        background: var(--deepclr);
        height: 20px;
        width: 25px;
    }

}

